.body {
    width: 100%; /* Ширина страницы занимает 100% ширины экрана */
    max-width: 1200px; /* Максимальная ширина страницы, чтобы не разъезжалась на очень широких экранах */
    margin: 0 auto; /* Центрирование страницы по горизонтали */
}
.btn-new {
    box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
    transition: 0.5s;
}

.btn-new:hover {
    transform: translate(0,-3px);
    box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);
}

.border-example {
    border: 1px solid black; /* Граница толщиной 2 пикселя, пунктирная и синего цвета */
    border-radius: 5px; /* Радиус скругления границы */
}









